@{
    ViewData["Title"] = "Log in / Register";
}

<div id="loginContainer" class="container shadow-lg rounded">
    <div class="row">
        <div class="col-7 rightBorderDark">
            <h3 class="fontHeavy">Sign up</h3>
            <br />
            <form>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group formInput">
                            <label for="registerEmail">Email</label>
                            <input type="text" class="form-control rounded" id="registerEmail" />
                            <div class="invalid-feedback">
                                Invalid Email address
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group formInput">
                            <label for="registerUsername">Username</label>
                            <input type="text" class="form-control rounded" id="registerUsername" />
                            <div class="invalid-feedback">
                                Must be between 3 and 24 characters
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group formInput marginBotSm">
                            <label for="registerPassword">Password</label>
                            <input type="password" class="form-control rounded" id="registerPassword" />
                            <div class="invalid-feedback">
                                Must contain an uppercase letter, a lowercase letter, a number and be 8 characters long
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group formInput marginBotSm">
                            <label for="registerConfirmPassword">Confirm password</label>
                            <input type="password" class="form-control rounded" id="registerConfirmPassword" />
                            <div class="invalid-feedback">
                                Passwords do not match
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-check marginBotMd">
                    @*<input class="form-check-input" type="checkbox" id="registerCompany" value="Company" />
                    <label class="form-check-label" for="registerCompany">
                        Check this box if you are a company looking for investors
                    </label>*@
                </div>
                <button id="registerBtn" type="button" class="btn btn-inv rounded">Register</button>
            </form>
        </div>
        <div class="col-5">
            <h3 class="fontHeavy">Log in</h3> <!--fontHeavy has no css for it-->
            <br />
            <form>
                <div class="form-group formInput">
                    <label for="loginUsernameEmail">Username / Email address</label>
                    <input type="text" class="form-control rounded" id="loginUsernameEmail" />
                    <div class="invalid-feedback">
                        Username / Email address does not exist
                    </div>
                </div>
                <div class="form-group formInput marginBotSm">
                    <label for="loginPassword">Password</label>
                    <input type="password" class="form-control rounded" id="loginPassword" />
                    <div class="invalid-feedback">
                        Incorrect password
                    </div>
                </div>
                <p class="forgotPwTxt">Forgot your <a href="#">password?</a></p>
                <button id="loginBtn" type="button" class="btn btn-inv rounded">Log in</button>
            </form>
        </div>
    </div>
</div>