* {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
    background-color: #3E3E40;
}

.whiteText {
    color: #F2F2F2 !important;
}

/*Bootstrap changes
-------------------------------------------------- */
.form-control {
    border-radius: 0rem;
}

.btn {
    border-radius: 0rem;
}

.modal-content {
    border-radius: 0rem;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px; /* Adjusts for spacing */
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.btn-inv {
    color: white;
    background-color: #F2A30F;
    border-color: #F2A30F;
    font-weight: 600;
}

    .btn-inv:hover {
        color: white;
        background-color: #F2B90C;
        border-color: #F2B90C;
    }

.marginBotSm {
    margin-bottom: 0.5rem;
}

.marginBotMd {
    margin-bottom: 0.7rem;
}

.forgotPwTxt {
    font-size: 0.8rem;
}
/*Container styles
-------------------------------------------------- */
#loginContainer {
    margin-top: 150px; /*Change this to be centered vertically*/
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F2F2F2;
}

#profileContainer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F2F2F2;
}

.profileSubContainer {
    position: relative;
    width: 1985px;
    height: 190px;
    left: 0px;
}

.profileSubContainerWrapper {
    overflow-x: hidden;
    background-color: #3E3E40;
    padding: 5px;
}

.profileSubContainerTitle {
    margin-bottom: 2px;
}

.profileSubContainerItem {
    float: left;
    width: 320px;
    height: 180px;
    background-color: #F2F2F2;
    margin: 5px;
}

.headerFooterColour {
    background-color: #262626;
}

#profileDropdownButton {

}

#profileDropdownMenu {
    background-color: #F2A30F;
}

    #profileDropdownMenu > a {
        color: white;
    }

        #profileDropdownMenu > a:hover {
            background-color: #F2B90C;
        }

    /*Form inputs styles
-------------------------------------------------- */
    .formInput {
        position: relative;
    }

    .formInput > input {
        border-color: rgb(165, 162, 162);
    }

        .formInput > input:focus {
            box-shadow: 0px 0px 0px 2px rgba(242,185,12, 0.2);
            border-color: #BA63C2;
        }

    .formInput > label {
        /*background-color: #F2F2F2;*/
        color: #6c757d;
        position: absolute;
        top: 8px;
        left: 10px;
        font-size: 1rem;
        pointer-events: none;
        transition: top 0.5s, left 0.5s, font-size 0.5s;
    }

    .formInput > .minid {
        top: -17px;
        left: 5px;
        font-size: 13px;
    }

#loginSignupModal > div {
    max-width: 80%;
    width: 50%;
}

.rightBorderDark {
    border-right: 1px solid rgb(165, 162, 162);
}

/*Stuff that was already here*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
